.Inpts{
width: 135px; 
border-radius: 8px;
border: 1px solid black;
margin-bottom: 5px;}

.Inpts:focus{
background-color: rgb(186, 218, 216);
border-radius: 0px;   }


.BuTs{
border-radius: 15px;
width: 150px;
border: solid 1px black;
background-color: rgb(186, 218, 216);}

.BuTs:hover{
border-radius: 0;
width: 200px;
border: solid 1px black;
background-color: rgb(148, 233, 227);}

.BuTs:focus{
border-radius: 0;
width: 200px;
border: solid 1px black;
background-color: rgb(148, 233, 227);}