body{
  
}

 .Buts{
    border-radius: 5px;
    width: 100px;
    height: 50px;
    border: solid 1px rgb(185, 184, 184);
    background-image: radial-gradient(#FFFFF0,#EEEEE0,#CDCDC1);
    padding: 4px;
    margin: 3px;
    margin-top: 10px;
    
}

.Buts:hover{
    border-radius: 5px;
    width: 100px;
    border: solid 1px rgb(185, 184, 184);
    background-image: radial-gradient(#4F4F4F,#363636,#1C1C1C);
    color: white;

}

.Buts:focus{
  border: solid 2px rgb(0, 0, 0);
}

#Mini_Config{
  text-align: right;
}

  a:link {text-decoration: none;}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  left: 50%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 600px;
  height: 600px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%; 
  left: 50%;
  margin-left: -80px;
  overflow: auto;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

td{
  text-align: center;
  vertical-align: middle;   
}

#Link_Modal{
  border-radius: 5px;
  width: 100px;
  border-right: solid 1px rgb(185, 184, 184);
  padding: 5px;
  
}

#Link_Modal:hover{
  border-radius: 5px;
  width: 100px;
  border: solid 1px rgb(185, 184, 184);
  background-image: radial-gradient(#4F4F4F,#363636,#1C1C1C);
  color: white;
  border-radius: 5px;

}

#Link_Modal:focus{
  border: solid 2px rgb(0, 0, 0);
  border-radius: 5px;
}