body{
    overflow: hidden;
}

#Title{
    width: 85%;
    border: solid 1px blue ;
    border-radius: 15px;
    padding: 5px;
    padding-left: 20px;
    margin: 5px;   
}

 #Buts{
    border-radius: 15px;
    width: 100px;
    border: solid 1px black;
    background-color: rgb(186, 218, 216);
    padding: 4px;
    margin: 3px;
    margin-top: 10px;
   
   
    
}

#Buts:hover{
    border-radius: 0;
    width: 100px;
    border: solid 1px black;
    background-color: rgb(148, 233, 227);
}

#Buts:focus{
    border-radius: 0;
    width: 100px;
    border: solid 1px black;
    background-color: rgb(148, 233, 227);
}

#Buttons{
    width: 85%;
    border: solid 1px blue ;
    border-radius: 15px;
    padding: 5px;
    padding-top: 5px;
    padding-left: 20px;
    margin: 7px;  
    /* height: 40px;   */
}

td, th {
    min-width: 105px;
    /* height: 25px; */
    /* border: dashed 1px lightblue; */
  }
  
  table {
    width:100%;
    border-collapse: collapse;
    /* border: dashed 1px; */
    margin: 5px;
    /* padding: 3px; */
    text-align: center; 

    /* vertical-align: middle; */
    /* border-radius: 15px; */
    display: block;
  }

  thead, tbody {
    display: block;
}

  tbody{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 439px;
    width: 100%;

  }

  #Conteudo{
    width: 85%;
    border: solid 1px blue ;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
    padding-top: 5px;
    padding-left: 20px;
    margin: 7px;
    /* overflow: auto; */
    height: 533px;
  }
  a:link {text-decoration: none;}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  left: 50%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 600px;
  height: 600px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%; 
  left: 50%;
  margin-left: -80px;
  overflow: auto;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}