 .Buts{
    border-radius: 5px;
    width: 100px;
    height: 50px;
    border: solid 1px rgb(185, 184, 184);
    background-image: radial-gradient(#FFFFF0,#EEEEE0,#CDCDC1);
    padding: 4px;
    margin: 3px;
    margin-top: 10px;
    
}

.Buts:hover{
    border-radius: 5px;
    width: 100px;
    border: solid 1px rgb(185, 184, 184);
    background-image: radial-gradient(#4F4F4F,#363636,#1C1C1C);
    color: white;
    cursor: pointer;
}

.Buts:focus{
  border: solid 2px rgb(0, 0, 0);
}

#Mini_Config{
  text-align: right;
}

  a:link {text-decoration: none;}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  left: 50%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 600px;
  height: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%; 
  left: 30%;
  margin-left: -80px;
  overflow: auto;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

td{
  text-align: center;
  vertical-align: middle;   
}

#Link_Modal{
  border-radius: 5px;
  width: 100px;
  border-right: solid 1px rgb(185, 184, 184);
  padding: 5px;
  
}

#Link_Modal:hover{
  border-radius: 5px;
  width: 100px;
  border: solid 1px rgb(185, 184, 184);
  background-image: radial-gradient(#4F4F4F,#363636,#1C1C1C);
  color: white;
  border-radius: 5px;

}

#Link_Modal:focus{
  border: solid 2px rgb(0, 0, 0);
  border-radius: 5px;
}


.ButsIn{
  border-radius: 100%;
  width: 30px;
  height: 30px; 
  border: solid 1px #698B69;
  background-image: radial-gradient(#C1FFC1,#B4EEB4,#9BCD9B);
  padding: 2px;
  margin: 2px;
  width: 20px;
  height: 20px;
}

.ButsIn:hover{
  border-radius: 100%; 
  cursor: pointer;
  border: solid 1px #698B69;
  background-image: radial-gradient(#698B69,#698B69,#698B69);
  color: white;
}

.ButsIn:focus{
border-radius: 100%; 
border: solid 2px rgb(0, 0, 0); 
}

.ButsIo{
  border-radius: 100%;
  width: 30px;
  height: 30px; 
  border: solid 1px #8b6969;
  background-image: radial-gradient(#ffc1c1,#eeb4b4,#cd9b9b);
  padding: 2px;
  margin: 2px;
  width: 20px;
  height: 20px;
}

.ButsIo:hover{
  border-radius: 100%; 
  cursor: pointer;
  border: solid 1px #8b6969;
  background-image: radial-gradient(#8b6969,#8b6969,#8b6969);
  color: white;
}

.ButsIc{
  border-radius: 100%;
  width: 30px;
  height: 30px; 
  border: solid 1px #69798b;
  background-image: radial-gradient(#c1caff,#b4c3ee,#9badcd);
  padding: 2px;
  margin: 2px;
  width: 20px;
  height: 20px;
}

.ButsIc:hover{
  border-radius: 100%; 
  cursor: pointer;
  border: solid 1px #69718b;
  background-image: radial-gradient(#69778b,#69748b,#69758b);
  color: white;
}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
}

#loading{
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: rgb(255,255,255);
  background: linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 85%, rgba(0,133,159,1) 100%);
}

#Load-charge{
  bottom: 10px;
  left: 5px;
  position: absolute;
}

#text-title{
  font-size: 400%;
  color: white;
}
#text-subtitle{
  font-size: 250%;
  color: white;
}

@-webkit-keyframes rotate-in-br{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);-webkit-transform-origin:bottom right;transform-origin:bottom right;opacity:0}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:bottom right;transform-origin:bottom right;opacity:1}}@keyframes rotate-in-br{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);-webkit-transform-origin:bottom right;transform-origin:bottom right;opacity:0}100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:bottom right;transform-origin:bottom right;opacity:1}}
#Load-logo{
  -webkit-animation:rotate-in-br 2s cubic-bezier(.25,.46,.45,.94) both;animation:rotate-in-br 2s cubic-bezier(.25,.46,.45,.94) both;
  width: 20%;
  height: 45%;
}

#Load-sistem{
  top: 10px;
  left: 5px;
  position: absolute;
}