.Container{
    width: 420px;
    border: solid 1px blue ;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    float: left;
}

.Container:hover{
    border: solid 1px darkred ;
    padding-left: 15px;

}

.Container_Major{
    width: 871px;
    border: solid 1px blue ;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

