body{
    background: url(../pic/SkyBry.jpg) no-repeat left top fixed transparent;
    /* overflow: hidden; */
    background-size: 700px;
    
}

.Container{
    width: 90%;
    border: solid 1px royalblue ;
    border-radius: 15px;
    padding: 10px;
    margin: 3px;
    background: rgba(255, 255, 255, 0.747) ;
    float: left;
    font-size: 16px;
 
}
.Container:hover{
    border: solid 2px dodgerblue;
    padding-left: 11px;
    /* float: left; */
}

.Container_Major{
    width: 90%;
    border: solid 1px royalblue ;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.747) ;
}

.Inpts{
    width: 80%; 
    border-radius: 8px;
    border: 1px solid black;
    margin-bottom: 5px;
}
    
    .Inpts:focus{
    background-color: rgb(186, 218, 216);
    border-radius: 0px;   }
    
    

    
    #Gramatura1{
        width: 98px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid black;
        margin-bottom: 5px;
    }
    
    #Gramatura2{
        width: 98px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 1px solid black;
        margin-bottom: 5px;
    }

    #Gramatura2:focus{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: rgb(186, 218, 216);
    }
    #Gramatura1:focus{
        border-top-left-radius: 0px;    
        border-bottom-left-radius: 0px;
        background-color: rgb(186, 218, 216);
    }

    #Time_CT{
        /* clear: left; */
    }

    #Paradas_CT{  
        /* clear: left; */
    }

    #produto_CT{

    }

    #Buttons_CT{
        /* clear: left; */

    }

    #Find{

        clear: left;
    }

    #test{
        clear: left;
    }

    @media(min-width: 800px){
        .Container{
            width: 800px;
            border: solid 1px royalblue ;
            border-radius: 15px;
            padding: 10px;
            margin: 3px;
            background: rgba(255, 255, 255, 0.747) ;
            float: left;
            font-size: 16px;
         
        }
        .Container:hover{
            border: solid 2px dodgerblue;
            padding-left: 11px;
            /* float: left; */
        }
        
        .Container_Major{
            width: 800px;
            border: solid 1px royalblue ;
            border-radius: 15px;
            padding: 10px;
            margin: 5px;
            background: rgba(255, 255, 255, 0.747) ;
        }
    }